{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href='{% static "css/style.css" %}' />
    <title>Document</title>
  </head>
  <body>
    <h1>hello</h1>
    <h1>{{const}}</h1>
    <table>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Degree</th>
      </tr>

      {% for musician in all_musician %}
      <tr>
        <td>{{ musician.first_name }}</td>
        <td>{{ musician.last_name }}</td>
        <td>{{ musician.degree }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
